<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>使用者列表</title>
</head>
<body>
<h2>使用者列表</h2>
<table style="border: 1px solid black">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>Email</th>
        <th>性別</th>
        <th>狀態</th>
    </tr>
    </thead>
    <tbody>
    <tr style="width: 100px; text-align: center;" th:each="users : ${users}">
        <td th:text="${users.id}"></td>
        <td th:text="${users.name}"></td>
        <td th:text="${users.email}"></td>
        <td th:text="${users.gender}"></td>
        <td th:text="${users.status}"></td>
    </tr>
    </tbody>
</table>

<div>
    <!--  @{|...|} 是 Thymeleaf 的字串模板語法，裡面可以用 ${} 插入變數  不可直接js用符號 不支援-->
    <a th:href="@{|/users?page=${page > 1 ? page - 1 : 1}&per_page=${perPage}|}">上一頁</a>
    <a th:href="@{|/users?page=${page + 1}&per_page=${perPage}|}">下一頁</a>
</div>
</body>
</html>